//- html template for creating/updating a school's info 
extends ./layouts/layout

block content
  if type == "create"
    h2 Create School Listing
  else
    h2 Edit School Listing
  form(action=`./${type}` enctype="multipart/form-data" method="POST")
    .form-group
      label(for="img") Attach Image 
      input.form-control-file#img(type="file" accept="image/png, image/jpg, image/jpeg, image/gif" name="img")
    .form-group
      label(for="name") School Name* 
      input.form-control#name(type="text" name="name" value=school.name required)
    .form-group
      label(for="about") About 
      textarea.form-control#about(name="about" value=school.about)=school.about
    .form-group
      label(for="location") Location 
      textarea.form-control#location(name="location" value=school.location)=school.location
    .form-group
      label(for="admissions") Admission
      textarea.form-control#admissions(name="admissions" value=school.admissions)=school.admissions
    .form-group
      input.btn.btn-primary.btn-block(type="submit")
